# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
health_eda_env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
health_eda_env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
